<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Produto</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">
                        <form action="{{URL}}/create" class="form-control" method="post">
                            <label for="nome">Nome do produto:</label><br>
                            <input type="text" id="nome" name="nome" value="" required><br><br>
                            
                            <label for="estampa">Nome da Estampa:</label><br>
                            <input type="text" id="estampa" name="estampa" value="" required><br><br>
                    
                            <label for="preco">Preço:</label><br>
                            <input type="amount" id="preco" name="preco" value="" required><br><br>
                    
                            <label for="imagemlink">URL imagem:</label><br>
                            <input type="text" id="imagemlink" name="imagemlink" value="" required><br><br>
                            
                            <input class="btn btn-primary" type="submit" value="Criar">
                         </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>