<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Seja Bem Vindo!</h1>
                <p class="lead mb-0">Aproveite nossos preços exclusivos!</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                {{cards}}
                <!-- Nested row for non-featured blog posts-->
                
                <!-- Pagination-->
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Sobre nossas roupas</div>
                    <div class="card-body">Entre em contato conosco pelo Whatsapp se desejar obter uma das camisas. Fazemos o envio por correio e aceitamos apenas PIX como forma de pagamento. Muito obrigado</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>