<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Garanta já a sua!</h1>
                <p class="lead mb-0">Mesmo se não tivermos em estoque, encomendaremos uma para voce!!</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="{{imagemlink}}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{estampa}}</div>
                        <h2 class="card-title">{{nome}}</h2>
                        <p class="card-text">{{preco}}</p>
                    </div>
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Sobre a entrega</div>
                    <div class="card-body">Atendemos São Paulo e Região. A entrega costuma ocorrer em até 5 dias úteis, caso ocorra algum problema no envio, faremos reembolso. <br> 
                        <b>Não aceitamos devoluções</b>.</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>