<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <div>
                    <a href="#!"><img class="card-img-top" src="https://i.pinimg.com/originals/0f/7c/2d/0f7c2dd177d6631e448f0561d60b82b9.jpg" alt="..." /></a>
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Side widget-->
                <br>
                <div class="card mb-4">
                    <div class="card-header">Sobre</div>
                    <div class="card-body">A marca "TheBrightCat" nasceu no centro metropolitano de são Paulo por um grupo de amigos, 
                        com o conceito de passar para o literal a ideia de que vivemos em uma selva de concreto e aço. 
                        Como tudo na vida temos um começo, um meio e um fim, e nas camisetas da BrightCat também passamos por este processo. Cada camiseta contém traços únicos, nos quais são apresentados as mais variedades ações e situações cotidianas, onde de primeira observação pode não ser nada fora do comum, mas são apenas algumas pessoas que tem o formoso dom de reparar nós detalhes, e como já foi mostrado diversas vezes com o crescimento de nossa sociedade.... 
                        são os detalhes que revelam a verdadeira história</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>